# **Dependencies**
------

In [213]:
!pip install pytube
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pytube in /usr/local/lib/python3.8/dist-packages (12.1.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [214]:
from pytube import YouTube
import pandas as pd

## **Initialize Commands**

---

In [226]:
def download(a:str):
    url = YouTube(a)
    video = url.streams.first()
    video.download()

In [227]:
def Possible_quality(link:str):
  url = YouTube(link)
  video=url.streams.filter(progressive=True)
  return video

In [228]:
def get_highest(link:str):
    url = YouTube(link)
    video = url.streams.get_highest_resolution()
    video.download()

In [229]:
def get_lowest(link:str):
    url = YouTube(link)
    video = url.streams.get_lowest_resolution() 
    video.download()

In [230]:
def Generator(d:list):
  res=[]
  fps=[]
  typ=[]
  size=[]
  mim=[]
  main=dict()
  for i in d:
    res.append(i.resolution)
    try:
      fps.append(int(i.fps))
    except:
      fps.append(0)
    typ.append(i.type)
    size.append(int(i.filesize_mb*10)/10)
    mim.append(str(i.mime_type).split("/")[1])
  main={
      "Resolution": res,
      "FPS":fps,
      "Size (Mb) ":size,
      "Type":typ,
      "Mim Type":mim
  }
  return main

In [231]:
d=[]
def main_data(link:str):
  d=Possible_quality(link)
  k=Generator(d)
  frame=pd.DataFrame(k)
  frame.index=frame.index+1
  frame["FPS"]=frame.FPS.apply(lambda x: int(x))
  the_d=d
  return(frame,d)

In [232]:
def save(i,d,filename="Video"):
  d[i-1].download(filename=filename)

# **Main Part**

In [233]:
link=("https://www.youtube.com/watch?v=KCioI0tosUo")

In [222]:
#Get highest quality

get_highest(link)

In [ ]:
#Get lowest quality

get_lowest(link)

In [234]:
#Show All Data
s=main_data(link)
s[0]

  Resolution  FPS  Size (Mb)    Type Mim Type
1       144p    8         0.2  video     3gpp
2       360p   30         1.3  video      mp4
3       720p   30         2.6  video      mp4

In [210]:
#Save data                      
                
IndexNo=6                    
Filename="video1"             

save(IndexNo,s[1],Filename)